.c-card,
nyc-event-card {
  position: relative;
  contain: content;
  display: flex;
  flex-direction: column;

  background: var(--nyc-cmp-card-background);
  color: var(--nyc-cmp-card-color);

  max-inline-size: 12.5rem;
  border: var(--nyc-cmp-card-border, none);
  border-radius: 10px;
  box-shadow: var(--nyc-cmp-card-shadow);
  padding: 1rem;
  transition: all .3s ease;
  width: 100%;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    border-radius: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--nyc-cmp-card-background-hover);
    z-index: -1;
    transition: opacity 0.3s linear, box-shadow .3s ease-out;
    opacity: 0;
  }

  &:hover {
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }

  &:hover::before {
    opacity: 1;
  }
}

.c-card__header {
  flex-grow: 1;
  & :--heading {
    font-size: var(--size-step-05);
    font-size: 1.13rem;
    margin-block-start: var(--space-s);
    max-inline-size: 85%;
    color: inherit;

    & a {
      display: block;
    }

    & a:focus {
      text-decoration: underline;
      outline: none;
      outline-color: var(--nyc-cmp-card-color-outline);
    }
  }
}

.c-card__body {
  margin-block-start: .5rem;
  flex-grow: 0;
  font-size: 1rem;
}

.c-card__primary-action {
  &:before {
    content: '';
    position: absolute;
    top: 0; /* 2 */
    left: 0; /* 2 */
    right: 0; /* 2 */
    bottom: 0; /* 2 */
    z-index: 1; /* 3 */
  }
  &:hover .c-card__primary-action__icon-wrapper {
    border-color: currentColor;
  }
}

.c-card__primary-action__icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: .25rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid currentColor;
  border-color: transparent;
  transition: border-color .3s ease;
}

.c-card[data-variant=event],
nyc-event-card {
  & time {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .c-card__body {
    font-size: 1.13rem;
  }
  .c-card__header :--heading {
    font-size: 1.75rem;
  }
  .c-card, nyc-event-card {
    max-inline-size: 17.19rem;
  }
}

.c-card__summary {
  font-size: 1rem;
}

.c-card__cta {
  position: absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;

  &:hover .c-card__cta__icon-wrapper {
    border-color: white;
  }

  & i {
    font-size: 1rem;
  }
}

@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
   /* IE10+ specific styles go here */
}
